<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Client data</h1>

    <table border="2">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </thead>
        <tbody>
            <% data.forEach((data)=>{ %>
                <tr>      
                    <td><%= data.id %></td>
                    <td><%= data.name %></td>
                    <td><%= data.email %></td>
                    <td><%= data.age %></td>
                </tr>

          <%  }) %> 
           
        </tbody>
    </table>
</body>
</html>